.navbar-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    margin-top: 20px;
  }

  .logo-container a {
    text-decoration: none;
    color: #061d88;
    font-weight: 500;
    font-size: 25px;
  }

  .nav-link {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
      color: #061d88;

      &:hover {
        color: #0960f2;
      }
    }

    button {
      background-color: #061d88;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px 30px;

      &:hover {
        background-color: #0960f2;
        transition: ease-out 0.5s;
      }
    }
  }
}
