.title {
  color: #061d88;
  font-weight: 500;
}

.badge {
  border-radius: 10px;
  font-size: 10px;
  padding: 3px 5px;
}

.badge-primary {
  background-color: #32cd32;
}

.badge-secondary {
  background-color: #fed8b1;
}

.location {
  font-size: 12px;
  color: #7395b0;
}

.form-container {
  margin: 0 auto;
}

form {
  width: 100%;
}

.company {
  color: #061d88;
}

.grey-text {
  color: grey;
  margin-left: 97%;
}

.load-more {
  text-align: center;

  button {
    border: none;
    outline: none;
  }
}
